@model GuardaPelaCultura.Models.Restaurantes

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Restaurantes</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NomeRestaurante" class="control-label"></label>
                <input asp-for="NomeRestaurante" class="form-control" />
                <span asp-validation-for="NomeRestaurante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumeroTelefone" class="control-label"></label>
                <input asp-for="NumeroTelefone" class="form-control" />
                <span asp-validation-for="NumeroTelefone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmailRestaurante" class="control-label"></label>
                <input asp-for="EmailRestaurante" class="form-control" />
                <span asp-validation-for="EmailRestaurante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocalizacaoRestaurante" class="control-label"></label>
                <input asp-for="LocalizacaoRestaurante" class="form-control" />
                <span asp-validation-for="LocalizacaoRestaurante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TextoDescritivoRestaurante" class="control-label"></label>
                <input asp-for="TextoDescritivoRestaurante" class="form-control" />
                <span asp-validation-for="TextoDescritivoRestaurante" class="text-danger"></span>
            </div>
            



            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

