@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<link href="https://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet" />
<link href="~/css/templatemo-style.css" rel="stylesheet" />

<script src="~/js/jquery.min.js"></script>
<script src="~/js/parallax.min.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

<header>
    <div class="mt-5 text-center">
        <h1 class="text-danger mb-3">Acesso Negado</h1>
        <img src="~/img/AcessoNegado.jpg" alt="Image"/>
    </div>
</header>
