@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li class="tm-nav-li">
        <table>
            <thead>
                <tr>
                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button type="submit" class="tm-nav-link btn btn-link">Logout</button>
                    </form>
                </tr>
               
            </thead>
            <tbody>
                <tr>
                    <th> <a class="tm-nav-link" title="Manage">@User.Identity.Name.Substring(0, User.Identity.Name.IndexOf("@", 0)) </a></th>
                <tr />
            </tbody>
        </table>
        </li>
       }
       else
       {
        <li class="tm-nav-li">
            <a asp-controller="Clientes" asp-action="Register" class="tm-nav-link">Resgistar</a>
        </li>
        <li class="tm-nav-li">
            <a asp-area="Identity" asp-page="/Account/Login" class="tm-nav-link">Login</a>
        </li>
}
