@{
    ViewData["Title"] = "About";
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Simple House - About Page</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/all.min.css" />
    <link rel="stylesheet" href="~/css/templatemo-style.css" />
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
</head>
<!--

Simple House

https://templatemo.com/tm-539-simple-house

-->
<body>

    <div class="container">
        <!-- Top box -->
        <!-- Logo & Site Name -->
        <div class="placeholder">
            <div class="parallax-window" data-parallax="scroll" data-image-src="img/se_guarda.jpg">
                <div class="tm-header">
                    <div class="row tm-header-inner">
                        <div class="col-md-6 col-12">
                            <img src="~/img/logoGuarda.png" alt="Logo" class="tm-site-logo" />
                            <div class="tm-site-text-box">
                                <h1 class="tm-site-title">Guarda Pela Cultura 27</h1>
                                <h6 class="tm-site-description">Capital Europeia da Cultura</h6>
                            </div>
                        </div>
                        <nav class="col-md-6 col-12 tm-nav">
                            <ul class="tm-nav-ul">
                                <li class="tm-nav-li"><a asp-action="Index" class="tm-nav-link">Home</a></li>
                                <li class="tm-nav-li"><a asp-action="About" class="tm-nav-link active">About</a></li>
                                <li class="tm-nav-li"><a href="contact.html" class="tm-nav-link">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        <main>
            <header class="row tm-welcome-section">
                <h2 class="col-12 text-center tm-section-title">Sobre nós</h2>
                <p class="col-12 text-center">
                    Este projeto surgiu no âmbito de duas disciplinas, Engenharia de Software II e Programação para a Internet que estas fazem parte do plano curricular do curso de Engenharia Informática do Instituto Politécnico da Guarda.<br>
                    Este trabalho tem como objetivo promover a Guarda a Capital da Cultura 2027. <br>
                    Gonçalo Saraiva, Miguel Durães e Válter Simões foram os alunos que projetaram e elaboram o presente  trabalho .
                </p>
            </header>

            <div class="tm-container-inner tm-persons">
                <div class="row">
                    <article class="col-lg-4 text-center">
                        <figure class="tm-person">
                            <figcaption class="tm-person-description">
                                <h4 class="tm-person-name">Gonçalo Saraiva </h4>
                                <p class="tm-person-title">Fundador & CEO</p>
                                <p class="tm-person-about">
                                    Estudante do 3º ano do curso de Engenharia Informática.<br>Empenhado e atento, sempre pronto a ajudar.
                                </p>
                                <div>
                                    <a href="https://www.facebook.com/goncalo.saraiva.96" class="tm-social-link"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                                    <a href="https://www.instagram.com/goncalo.saraiva.15/?hl=pt" class="tm-social-link"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                </div>
                            </figcaption>
                        </figure>
                    </article>
                    <article class="col-lg-4 text-center">
                        <figure class="tm-person">
                            <figcaption class="tm-person-description">
                                <h4 class="tm-person-name">Miguel Durães</h4>
                                <p class="tm-person-title">Fundador & CEO</p>
                                <p class="tm-person-about">
                                    Estudante do 3º ano do curso de Engenharia Informática. <br>Confiante e motivador para a realização das tarefas.
                                </p>
                                <div>
                                    <a href="https://www.facebook.com/miguel.duraes.14" class="tm-social-link"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                                    <a href="https://www.instagram.com/migassduraes_7/?hl=pt" class="tm-social-link"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                </div>
                            </figcaption>
                        </figure>
                    </article>
                    <article class="col-lg-4 text-center">
                        <figure class="tm-person">
                            <figcaption class="tm-person-description">
                                <h4 class="tm-person-name">Valter Simões</h4>
                                <p class="tm-person-title">Fundador & CEO</p>
                                <p class="tm-person-about">
                                    Estudante do 3º ano do curso de Engenharia Informática.<br>Um bom líder que encaminha o trabalho para o sucesso.
                                </p>
                                <div>
                                    <a href="https://www.facebook.com/valter.simoes.7" class="tm-social-link"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                                    <a href="https://www.instagram.com/valter_simoes00/?hl=pt" class="tm-social-link"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                </div>
                            </figcaption>
                        </figure>
                    </article>
                </div>
            </div>
            <div class="tm-container-inner tm-featured-image">
                <div class="row">
                    <div class="col-12">
                        <div class="placeholder-2">
                            <div class="parallax-window-2" data-parallax="scroll" data-image-src="img/about-05.jpg"></div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <footer class="tm-footer text-center">
            <p>
                Copyright &copy; 2020 Simple House

                | Design: <a rel="nofollow" href="https://templatemo.com">TemplateMo</a>
            </p>
        </footer>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/parallax.min.js"></script>
</body>
</html>