@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Simple House Template</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet" />
    <link href="css/templatemo-style.css" rel="stylesheet" />
</head>
<!--

Simple House

https://templatemo.com/tm-539-simple-house

-->
<body>

    <div class="container">
        <!-- Top box -->
        <!-- Logo & Site Name -->
        <div class="placeholder">
            <div class="parallax-window" data-parallax="scroll" data-image-src="img/se_guarda.jpg">
                <div class="tm-header">
                    <div class="row tm-header-inner">
                        <div class="col-md-6 col-12">
                            <img src="img/logoGuarda.png" alt="Logo" class="tm-site-logo" />
                            <div class="tm-site-text-box">
                                <h1 class="tm-site-title">Guarda Pela Cultura 27</h1>
                                <h6 class="tm-site-description">Capital Europeia da Cultura</h6>
                            </div>
                        </div>
                        <nav class="col-md-6 col-12 tm-nav">
                            <ul class="tm-nav-ul">
                                <li class="tm-nav-li"><a asp-action="Index" class="tm-nav-link active">Home</a></li>
                                <li class="tm-nav-li"><a asp-action="About" class="tm-nav-link">About</a></li>
                                <li class="tm-nav-li"><a href="contact.html" class="tm-nav-link">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <main>
            <header class="row tm-welcome-section">
                <h2 class="col-12 text-center tm-section-title">Bem Vindo! <br> Guarda Pela Cultura 27</h2>
                <p class="col-12 text-center">
                    Guarda Pela Cultura é um projeto que surge pela candidatura da Guarda a capital europeia da cultura em 2027.<br>Pretendemos demonstrar a grande diversidade de cultura existente no nosso distrito.
                </p>
            </header>

            <div class="tm-paging-links">
                <nav>
                    <ul>
                        <li class="tm-paging-item"><a href="#" class="tm-paging-link active">Restaurantes</a></li>
                        <li class="tm-paging-item"><a href="#" class="tm-paging-link">Turismo</a></li>
                        <li class="tm-paging-item"><a href="#" class="tm-paging-link">Hotéis</a></li>
                        <li class="tm-paging-item"><a href="#" class="tm-paging-link">Museus</a></li>
                    </ul>
                </nav>
            </div>

            <!-- Gallery -->
            <div class="row tm-gallery">
                <!-- gallery page 1 -->
                <div id="tm-gallery-page-restaurantes" class="tm-gallery-page">
                    <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                        <figure>
                            <img src="img/BolaDePrata.PNG" alt="Image" class="img-fluid tm-gallery-img" />
                            <figcaption class="mb-4">
                                <h4 class="tm-gallery-title">Bola de Prata</h4>
                                <p class="tm-gallery-description">Um espaço onde se pode jogar uma partida de snooker, setas ou matraquilhos assim como beber um copo e comer uma bifana mesmo no centro da cidade! 15h - 4h</p>
                                <p><a class="text-info font-italic" href="#">Saiba Mais...</a></p>
                            </figcaption>
                        </figure>
                    </article>
                    <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                        <figure>
                            <img src="img/Colmeia.PNG" alt="Image" class="img-fluid tm-gallery-img" />
                            <figcaption>
                                <h4 class="tm-gallery-title">Colmeia</h4>
                                <p class="tm-gallery-description">Restaurante mediterrâneo com toques modernistas. Produtos de altíssima qualidade.</p>
                                <p><a class="text-info font-italic" href="#">Saiba Mais...</a></p>
                            </figcaption>
                        </figure>
                    </article>
                    <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                        <figure>
                            <img src="img/CortelheiraDaBurra.PNG" alt="Image" class="img-fluid tm-gallery-img" />
                            <figcaption>
                                <h4 class="tm-gallery-title">Cortelheira da Burra</h4>
                                <p class="tm-gallery-description">O Restaurante Cortelha da Burra é um local onde os ingredientes tradicionais transformam a gastronomia numa experiência única. Aqui poderá saborear a Serra da Estrela! Os nossos pratos contam histórias e guardam segredos que vai querer descobrir. Da janela chega-nos uma paisagem deslumbrante e sons que só a Serra pode proporcionar! Visite-nos e viva a verdadeira experiência do sabor e da tradição beirãs!</p>
                                <p><a class="text-info font-italic" href="#">Saiba Mais...</a></p>
                            </figcaption>
                        </figure>
                    </article>
                    <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                        <figure>
                            <img src="img/DomGarfo.PNG" alt="Image" class="img-fluid tm-gallery-img" />
                            <figcaption>
                                <h4 class="tm-gallery-title">Dom Garfo</h4>
                                <p class="tm-gallery-description">O que se vê, o que se cheira, o que se saboreia.. tudo tem um impacto colossal na forma como se sente e interpreta uma degustação.</p>
                                <p><a class="text-info font-italic" href="#">Saiba Mais...</a></p>
                            </figcaption>
                        </figure>
                    </article>
                    <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                        <figure>
                            <img src="img/GuardaRios.PNG" alt="Image" class="img-fluid tm-gallery-img" />
                            <figcaption>
                                <h4 class="tm-gallery-title">Guarda Rios</h4>
                                <p class="tm-gallery-description">Instalado num antigo lagar recuperado, sobranceiro a uma cascata do rio Alvôco, serve cozinha tradicional e é uma das referências da região.</p>
                                <p><a class="text-info font-italic" href="#">Saiba Mais...</a></p>
                            </figcaption>
                        </figure>
                    </article>
                    <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                        <figure>
                            <img src="img/NobreVinhosETal.PNG" alt="Image" class="img-fluid tm-gallery-img" />
                            <figcaption>
                                <h4 class="tm-gallery-title">Nobre Vinhos e Tal</h4>
                                <p class="tm-gallery-description">É do gosto pela simplicidade dos tesouros da gastronomia tradicional portuguesa associado ao gosto pelos vinhos que surge este espaço. Proporcionamos um ambiente familiar e acolhedor, descontraído e elegante, à volta da lareira, nas noites mais frias de Inverno, ou na nossa esplanada com vistas inigualáveis, numa longa noite de Verão</p>
                                <p><a class="text-info font-italic" href="#">Saiba Mais...</a></p>
                            </figcaption>
                        </figure>
                    </article>
                    <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                        <figure>
                            <img src="img/OBorges.PNG" alt="Image" class="img-fluid tm-gallery-img" />
                            <figcaption>
                                <h4 class="tm-gallery-title">O Borges</h4>
                                <p class="tm-gallery-description">Pratos regionais da serra também constam da ementa, sobressaindo o cabrito assado. O ambiente de conforto acolhedor e a decoração com motivos rurais tornam esta casa ainda mais calorosa. Uma referência incontestada na região.</p>
                                <p><a class="text-info font-italic" href="#">Saiba Mais...</a></p>
                            </figcaption>
                        </figure>
                    </article>
                    <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                        <figure>
                            <img src="img/OAlbertino.PNG" alt="Image" class="img-fluid tm-gallery-img" />
                            <figcaption>
                                <h4 class="tm-gallery-title">O Albertino</h4>
                                <p class="tm-gallery-description">
                                    Pessoas de todos os lugares deslocam-se ao seu estabelecimento para provarem os seus petiscos, que já nessa altura eram os que ainda hoje se mantêm utilizando o funcionamento de provarem um bocadinho de cada especialidade.
                                </p>
                                <p><a class="text-info font-italic" href="#">Saiba Mais...</a></p>
                            </figcaption>
                        </figure>
                    </article>
                </div> <!-- gallery page 1 -->
                <!-- gallery page 2 -->
                <div id="tm-gallery-page-turismo" class="tm-gallery-page hidden">
                    <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                        <figure>
                            <img src="img/serraestrela.jpg" alt="Image" class="img-fluid tm-gallery-img" />
                            <figcaption class="mb-4">
                                <h4 class="tm-gallery-title">Serra da Estrela</h4>
                                <p class="tm-gallery-description">Este parque natural é excelente para caminhadas, passeios a cavalo ou mountain bike. Possui cerca de 375 km de trilhas marcadasde vários graus de dificuldade, portanto, sem dúvida, você encontrará um adequado à sua condição física.</p>
                                <p><a class="text-info font-italic" href="#">Saiba Mais...</a></p>
                            </figcaption>
                        </figure>
                    </article>
                    <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                        <figure>
                            <img src="img/Se-Catedral-da-Guarda.jpg" alt="Image" class="img-fluid tm-gallery-img" />
                            <figcaption>
                                <h4 class="tm-gallery-title">Sé da Guarda</h4>
                                <p class="tm-gallery-description">Embora a Guarda seja sede de bispado desde a sua fundação, quando D. Sancho I pediu ao papa Inocêncio III a transferência da diocese da Egitânia para a nova cidade.</p>
                                <p><a class="text-info font-italic" href="#">Saiba Mais...</a></p>
                            </figcaption>
                        </figure>
                    </article>
                    <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                        <figure>
                            <img src="img/cascatadoPoçodaBroca.png" alt="Image" class="img-fluid tm-gallery-img" />
                            <figcaption>
                                <h4 class="tm-gallery-title">Cascata do Poço da Broca</h4>
                                <p class="tm-gallery-description">A Cascata do Poço da Broca é uma queda de água destacada pela sua beleza inigualável. Localiza-se na ribeira de Alvôco mais propriamente na Aldeia de Barriosa, em Vide.</p>
                                <p><a class="text-info font-italic" href="#">Saiba Mais...</a></p>
                            </figcaption>
                        </figure>
                    </article>
                    <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                        <figure>
                            <img src="img/muralhadeCasteloRodrigo.jpg" alt="Image" class="img-fluid tm-gallery-img" />
                            <figcaption>
                                <h4 class="tm-gallery-title">Muralha de Castelo Rodrigo</h4>
                                <p class="tm-gallery-description">Local bem cuidado com uma vista fantástica e aprazível para visitar e sentir a história local.</p>
                                <p><a class="text-info font-italic" href="#">Saiba Mais...</a></p>
                            </figcaption>
                        </figure>
                    </article>
                    <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                        <figure>
                            <img src="img/ForteDeAlmeida.gif" alt="Image" class="img-fluid tm-gallery-img" />
                            <figcaption>
                                <h4 class="tm-gallery-title">Vila Forte de Almeida</h4>
                                <p class="tm-gallery-description">Almeida é uma vila fortificada e um município da sub-região da Beira Interior Norte e do Distrito da Guarda. A fortaleza em torno da cidade guarda uma importante estrada transfronteiriça com a Espanha e sofreu vários cercos</p>
                                <p><a class="text-info font-italic" href="#">Saiba Mais...</a></p>
                            </figcaption>
                        </figure>
                    </article>
                    <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                        <figure>
                            <img src="img/PoçoDoInferno.jpg" alt="Image" class="img-fluid tm-gallery-img" />
                            <figcaption>
                                <h4 class="tm-gallery-title">Poço do Inferno</h4>
                                <p class="tm-gallery-description">Ao percorrer a Rota do Poço do Inferno verifica-se um dualismo de paisagem, natural e humanizada, marcada pelo diferente tipo de vegetação, com florestas de folhosas e resinosas, onde os sentidos despertam diferentes emoções ao longo do trilho.</p>
                                <p><a class="text-info font-italic" href="#">Saiba Mais...</a></p>
                            </figcaption>
                        </figure>
                    </article>
                    <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                        <figure>
                            <img src="img/EstacaoDeVilarFormoso.jpg" alt="Image" class="img-fluid tm-gallery-img" />
                            <figcaption>
                                <h4 class="tm-gallery-title">Estação de Vilar Formoso</h4>
                                <p class="tm-gallery-description">A Estação Ferroviária de Vilar Formoso é uma interface da Linha da Beira Alta, que serve a Freguesia de Vilar Formoso, no Distrito da Guarda, em Portugal. É uma gare fronteiriça, servindo como centro operacional para os comboios entre Portugal e Espanha. Foi inaugurada em 1882.</p>
                                <p><a class="text-info font-italic" href="#">Saiba Mais...</a></p>
                            </figcaption>
                        </figure>
                    </article>
                    <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                        <figure>
                            <img src="img/praias-fluviais-loriga.jpg" alt="Image" class="img-fluid tm-gallery-img" />
                            <figcaption>
                                <h4 class="tm-gallery-title">Praias Fluviais de Loriga</h4>
                                <p class="tm-gallery-description">Esta praia situa-se no interior do Parque Natural da Serra da Estrela, no vale glaciar de Loriga, cujos vestígios ainda são visíveis.</p>
                                <p><a class="text-info font-italic" href="#">Saiba Mais...</a></p>
                            </figcaption>
                        </figure>
                    </article>
                </div> <!-- gallery page 2 -->
                <!-- gallery page 3 -->
                <div id="tm-gallery-page-hotéis" class="tm-gallery-page hidden">
                    <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                        <figure>
                            <img src="img/HotelVanguarda.jpg" alt="Image" class="img-fluid tm-gallery-img" />
                            <figcaption class="mb-4">
                                <h4 class="tm-gallery-title">Holtel Vanguarda</h4>
                                <p class="tm-gallery-description">Este hotel no centro da Guarda está localizado no ponto mais alto de Portugal, a 1.000 m de altitude. Tem um restaurante com vista para a Serra da Estrela.</p>
                                <p><a class="text-info font-italic" href="#">Saiba Mais...</a></p>
                            </figcaption>
                        </figure>
                    </article>
                    <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                        <figure>
                            <img src="img/HotelSantos.jpg" alt="Image" class="img-fluid tm-gallery-img" />
                            <figcaption>
                                <h4 class="tm-gallery-title">Hotel Santos</h4>
                                <p class="tm-gallery-description">Localizado no centro histórico da Guarda, este hotel fica a 150 m da catedral da cidade. As áreas verdes do Parque Natural da Serra da Estrela estão a 10 minutos . . .</p>
                                <p><a class="text-info font-italic" href="#">Saiba Mais...</a></p>
                            </figcaption>
                        </figure>
                    </article>
                    <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                        <figure>
                            <img src="img/HotelLusitano.jpg" alt="Image" class="img-fluid tm-gallery-img" />
                            <figcaption>
                                <h4 class="tm-gallery-title">Hotel Lusitano</h4>
                                <p class="tm-gallery-description">Localizado a cerca de 250 m da Estação de Comboios de Vilar Formoso, o Hotel Lusitano oferece Wi-Fi gratuito, recepção 24 horas e quartos com TV via satélite . . .</p>
                                <p><a class="text-info font-italic" href="#">Saiba Mais...</a></p>
                            </figcaption>
                        </figure>
                    </article>
                    <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                        <figure>
                            <img src="img/hotel-fortaleza-de-almeida.jpg" alt="Image" class="img-fluid tm-gallery-img" />
                            <figcaption>
                                <h4 class="tm-gallery-title">Hotel Fortaleza</h4>
                                <p class="tm-gallery-description"> O Hotel Fortaleza de Almeida tem como meta proporcionar a você uma visita relaxante e agradável, motivo pelo qual vários hóspedes retornam todos os anos.</p>
                                <p><a class="text-info font-italic" href="#">Saiba Mais...</a></p>
                            </figcaption>
                        </figure>
                    </article>
                    <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                        <figure>
                            <img src="img/HotelCamelo.jpg" alt="Image" class="img-fluid tm-gallery-img" />
                            <figcaption>
                                <h4 class="tm-gallery-title">Hotel Camelo</h4>
                                <p class="tm-gallery-description">O Hotel Eurosol Seia Camelo ocupa uma localização privilegiada no centro da cidade de Seia. Apresenta uma piscina exterior com espreguiçadeiras.</p>
                                <p><a class="text-info font-italic" href="#">Saiba Mais...</a></p>
                            </figcaption>
                        </figure>
                    </article>
                    <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                        <figure>
                            <img src="img/HospedariaDoConventoD'Aguiar.jpg" alt="Image" class="img-fluid tm-gallery-img" />
                            <figcaption>
                                <h4 class="tm-gallery-title">Hospedeira do Convento D'Aguiar</h4>
                                <p class="tm-gallery-description">Este alojamento situa-se no Mosteiro de Santa Maria de Aguiar, que remonta ao século XI. Dispõe de quartos decorados . . .</p>
                                <p><a class="text-info font-italic" href="#">Saiba Mais...</a></p>
                            </figcaption>
                        </figure>
                    </article>
                    <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                        <figure>
                            <img src="img/HospedariaRobalo.jpg" alt="Image" class="img-fluid tm-gallery-img" />
                            <figcaption>
                                <h4 class="tm-gallery-title">Hospedaria Robalo</h4>
                                <p class="tm-gallery-description">A Hospedaria Robalo está localizada no centro da cidade de Sabugal e apenas a 5 km da Reserva Natural da Serra da Malcata . . .</p>
                                <p><a class="text-info font-italic" href="#">Saiba Mais...</a></p>
                            </figcaption>
                        </figure>
                    </article>
                    <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                        <figure>
                            <img src="img/VilaGaleSerraDaEstrela.jpg" alt="Image" class="img-fluid tm-gallery-img" />
                            <figcaption>
                                <h4 class="tm-gallery-title">Hotel Vila Galé</h4>
                                <p class="tm-gallery-description">Situada a 2,3 km das Termas de Manteigas, a Vila Gale Serra da Estrela, em Manteigas, tem várias comodidades, incluindo um restaurante, um centro de . . .</p>
                                <p><a class="text-info font-italic" href="#">Saiba Mais...</a></p>
                            </figcaption>
                        </figure>
                    </article>
                </div><!-- gallery page 3 -->
                <!-- gallery page 4 -->
                <div id="tm-gallery-page-museus" class="tm-gallery-page hidden">
                    <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                        <figure>
                            <img src="~/img/MuseudoCoa.jpg" alt="Image" class="img-fluid tm-gallery-img" />
                            <figcaption class="mb-4">
                                <h4 class="tm-gallery-title">Museu da Fundação do Côa</h4>
                                <p class="tm-gallery-description"> Excelente arquitetura, perfeitamente integrada na paisagem das encostas do vale do Douro, com excelentes meios . . . </p>
                                <p><a class="text-info font-italic" href="#">Saiba Mais...</a></p>
                            </figcaption>
                        </figure>
                    </article>
                    <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                        <figure>
                            <img src="img/MuseudoBrinquedo.jpg" alt="Image" class="img-fluid tm-gallery-img" />
                            <figcaption>
                                <h4 class="tm-gallery-title">Museu do Brinquedo</h4>
                                <p class="tm-gallery-description"> O Museu do Brinquedo de Seia apresenta uma colectânea de cerca de 8000 brinquedos de Portugal e do mundo, do passado ao presente e assim, serve . . .</p>
                                <p><a class="text-info font-italic" href="#">Saiba Mais...</a></p>
                            </figcaption>
                        </figure>
                    </article>
                    <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                        <figure>
                            <img src="img/Museu-Natural-da-Electricidade-Serra-da-Estrela.jpg" alt="Image" class="img-fluid tm-gallery-img" />
                            <figcaption>
                                <h4 class="tm-gallery-title">Museu Natural da Eletricidade</h4>
                                <p class="tm-gallery-description"> Trata-se da Central da Senhora do Desterro, uma das mais antigas centrais hidroeléctricas de Portugal, fruto da iniciativa . . . </p>
                                <p><a class="text-info font-italic" href="#">Saiba Mais...</a></p>
                            </figcaption>
                        </figure>
                    </article>
                    <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                        <figure>
                            <img src="img/museuhisticocultural.jpg" alt="Image" class="img-fluid tm-gallery-img" />
                            <figcaption>
                                <h4 class="tm-gallery-title">Museu Histórico-Militar</h4>
                                <p class="tm-gallery-description">A sua funcionalidade esteve ligada a dois vectores essenciais, a paz e a guerra. Serviram então para abrigar a população da Vila e como armazém de víveres.</p>
                                <p><a class="text-info font-italic" href="#">Saiba Mais...</a></p>
                            </figcaption>
                        </figure>
                    </article>
                    <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                        <figure>
                            <img src="img/museudopao.jpg" alt="Image" class="img-fluid tm-gallery-img" />
                            <figcaption>
                                <h4 class="tm-gallery-title">Museu do Pão</h4>
                                <p class="tm-gallery-description">Situado em Seia, em plena Serra da Estrela, o Museu do Pão é um complexo museológico onde é possível fazer uma pequena . . .</p>
                                <p><a class="text-info font-italic" href="#">Saiba Mais...</a></p>
                            </figcaption>
                        </figure>
                    </article>
                    <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                        <figure>
                            <img src="img/museuminiaturaautomovel.jpg" alt="Image" class="img-fluid tm-gallery-img" />
                            <figcaption>
                                <h4 class="tm-gallery-title">Museu Miniatura Automóvel</h4>
                                <p class="tm-gallery-description">É um verdadeiro mundo por descobrir que conta com cerca de 4 mil miniaturas em exposição . . .</p>
                                <p><a class="text-info font-italic" href="#">Saiba Mais...</a></p>
                            </figcaption>
                        </figure>
                    </article>
                    <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                        <figure>
                            <img src="img/fronteiradapaz.jpg" alt="Image" class="img-fluid tm-gallery-img" />
                            <figcaption>
                                <h4 class="tm-gallery-title">Fronteira da Paz</h4>
                                <p class="tm-gallery-description">O espaço expositivo transmite, “quase” fisicamente, a experiência destes refugiados europeus que, durante a IIª Guerra Mundial . . .</p>
                                <p><a class="text-info font-italic" href="#">Saiba Mais...</a></p>
                            </figcaption>
                        </figure>
                    </article>
                    <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                        <figure>
                            <img src="img/museusabugal.jpg" alt="Image" class="img-fluid tm-gallery-img" />
                            <figcaption>
                                <h4 class="tm-gallery-title">Museu do Sabugal</h4>
                                <p class="tm-gallery-description">Com esta exposição pretende-se homenagear a vida dura dos nossos antepassados que trabalhavam desde que o sol . . .</p>
                                <p><a class="text-info font-italic" href="#">Saiba Mais...</a></p>
                            </figcaption>
                        </figure>
                    </article>
                </div> <!-- gallery page 4 -->
            </div>
            <div class="tm-section tm-container-inner">
                <div class="row">
                    <div class="col-md-6">
                        <figure class="tm-description-figure">
                            <img src="img/img-01.jpg" alt="Image" class="img-fluid" />
                        </figure>
                    </div>
                    <div class="col-md-6 mb-auto">
                        <div class="tm-description-box">
                            <h4 class="tm-gallery-title">Maecenas nulla neque</h4>
                            <p class="tm-mb-45">Redistributing this template as a downloadable ZIP file on any template collection site is strictly prohibited. You will need to <a rel="nofollow" href="https://templatemo.com/contact">talk to us</a> for additional permissions about our templates. Thank you.</p>
                            <a href="about.html" class="tm-btn tm-btn-default tm-right">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer class="tm-footer text-center">
            <p>
                &copy; 2020 Guarda Pela Cultura

                | Design: <a rel="nofollow" href="#">TemplateMo</a>
            </p>
        </footer>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/parallax.min.js"></script>
    <script>
        $(document).ready(function () {
            // Handle click on paging links
            $('.tm-paging-link').click(function (e) {
                e.preventDefault();

                var page = $(this).text().toLowerCase();
                $('.tm-gallery-page').addClass('hidden');
                $('#tm-gallery-page-' + page).removeClass('hidden');
                $('.tm-paging-link').removeClass('active');
                $(this).addClass("active");
            });
        });
    </script>
</body>
</html>